{
  "rules": {
    "no-console": "off",
    "global-require": "off",
    "import/no-dynamic-require": "off",
    "import/prefer-default-export": "off",
    "no-void": "off",
    "spaced-comment": "off",
    "no-empty-pattern": "off",
  }
}
