body {
  position: relative;
  border-radius: 50%;
  background: linear-gradient(
    95.2deg,
    rgba(173, 252, 234, 1) 26.8%,
    rgba(192, 229, 246, 1) 64%
  );
  font-family: sans-serif;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  width: 100%;
}
